@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  @apply overflow-hidden bg-zinc-200;
}

.active {
  @apply opacity-100;
}

@layer components {
  .navlink {
    @apply rounded-t-sm border-neutral-300 bg-zinc-50 py-3 px-3  font-semibold text-sky-900 opacity-70;
  }
}
